@import 'tailwindcss';
@plugin "daisyui";
@plugin '@tailwindcss/forms';
@plugin "@tailwindcss/typography";

html {
	@apply scroll-smooth;
	scrollbar-gutter: stable; /* Prevent layout shift */

	::selection {
		@apply bg-secondary/50;
	}
}

body {
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
	grid-template-columns: 1fr;
	overscroll-behavior: contain; /* Prevent scroll chaining */
}

main {
	@apply p-4;
}

.tag-badge {
  @apply badge gap-1 badge-primary pr-0 border-0 cursor-pointer;

  button {
    @apply btn btn-xs btn-primary shadow-none ml-0.5 border-0;
    border-radius: 0 var(--radius-selector) var(--radius-selector) 0;
  }
}
